*{
  box-sizing: border-box;
}
body{
  color: #222;
}
img{
  max-width: 100%;
}
a{
  text-decoration: none;
}
main{
  padding: 10px;
  max-width: 700px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}
header a{
  text-decoration: none;
  color: inherit;
}
header a.logo{
  font-weight: bold;
  font-size: 1.5rem;
}
header nav{
  display: flex;
  gap: 15px;
}
div.post{
  display: grid;
  grid-template-columns:0.9fr 1.1fr ;
  gap:20px;
  margin-bottom: 30px;
}
div.post div.summary h2{
  margin: 0;
  font-size: 1.7rem;
}
div.post p.info{
  margin: 6px 0;
  color: grey;
  font-size: .7rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}
div.post p.info a.author{
  color:black;
}
div.post p.discp{
  margin: 10px 0;
  line-height: 1.3rem;
}

form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}
form h1{
  text-align: center;
}
input{
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 8px;
  border: 2px solid rgba(177, 177, 177, 0.979);
  background-color: white;
  border-radius: 6px;
}
button{
  width: 100%;
  display: block;
  border-radius: 6px;
  background-color: #555;
  border: 0;
  color: whitesmoke;
  font:bold;
  font-size: large;
  padding: 7px 8px;
}